<div *ngIf="(mode == 'edit' && ControlAccess?.['active'] === undefined) || ControlAccess?.['active']" class="mb-3 row" [formGroup]="FormGroup">
    <label class="col-form-label text-wrap w-10 col-3" [ngClass]="{'required-label': ControlAccess['validators']?.['required']}"> {{ ControlAccess["label"] }}</label>
    <div class="col-8">
        <input type="text" [formControlName]="ControlAccess['id']" [ngClass]="{'form-control': true, 'required-field': FieldControl.touched && FieldControl.errors?.['required']}" />
        <error-msg [control]="ControlAccess['id']"></error-msg>
    </div>
    <span *ngIf="ControlAccess['help']" class="col-1 d-flex align-items-center"
        ><i-bs class="cursor-pointer text-success" name="exclamation-circle" width="15" height="15" placement="right" [ngbPopover]="ControlAccess['help']" container="body" triggers="mouseenter:mouseleave"> </i-bs
    ></span>
</div>
<span *ngIf="mode == 'list'">
    <a [href]="FieldControl.value" target="_blank">{{ FieldControl.value }}</a>
</span>
