<section class="ftco-section">
    <div class="log-body">
        <div class="form-body">
            <h1 class="text-header log-text">Forgot Password</h1>
            <form class="form-group" [formGroup]="Emailform" (ngSubmit)="onSubmit()">
                <div class="mb-3 row needs-validation">
                    <label class="form-label" [ngClass]="{ 'required-label': true }">Enter Registered Email </label>
                    <input type="email" formControlName="email" [ngClass]="{ 'form-control': true, 'required-field': FieldControlEmail.touched && FieldControlEmail.errors?.['required'] }" />
                    <error-msg [control]="'email'"></error-msg>
                </div>
                <div class="mb-3 row needs-validation">
                    <button class="text-header submitbtn" type="submit">Sent Password Reset Link</button>
                </div>
                <div class="text-header active-link"><a href="javaScript:void(0)" [routerLink]="['/auth/login']">Back to Log in</a></div>
            </form>
        </div>
    </div>
</section>
