<div class="offcanvas-header">
    <h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
</div>
<div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'./build-forms'">Build Form</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'./'">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'./table-listing'">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'./api'">Hit APi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="onLogOut()">Logout</a>
        </li>
    </ul>
</div>
