<div class="container">
    <form [formGroup]="Form" class="row g-3 needs-validation" (ngSubmit)="OnSubmit()">
        <div class="col-12">
            <label class="form-label" for="nwp">New Password </label>
            <input class="form-control" formControlName="nwp" type="password" id="nwp" />
        </div>

        <div class="col-12">
            <label class="form-label" for="cwp">Confirm Password </label>
            <input [ngClass]="{ 'is-invalid': Form.errors?.['patternMatchError']  && getControl('cwp').touched }" class="form-control" formControlName="cwp" type="password" id="cwp" />
            <div *ngIf="Form.errors?.['patternMatchError'] && getControl('cwp').touched" class="text-danger">Password pattern did not match!</div>
        </div>

        <div class="col-12 d-grid gap-2 mx-auto">
            <button class="btn btn-primary" [disabled]="Form.invalid" type="submit">Login</button>
        </div>

        <iframe
            width="515"
            height="315"
            src="https://www.youtube.com/embed/mK0CX-68hBE?si=Ac9v4IEJUf3H97Iv"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe>
    </form>
</div>
