<div class="mb-3 row" [formGroup]="PasswordForm">
    <div class="col" *ngFor="let ps of Password_Config">
        <div class="row">
            <label class="col-form-label text-wrap w-10 col-4" [ngClass]="{ 'required-label': ControlAccess['validators']?.['required'] }"> {{ ps["label"] }}</label>
            <div class="col-8">
                <input type="password" [formControlName]="ps['identifier']" [ngClass]="{'form-control': true, 'required-field': PasswordForm.get(ps['identifier']).touched && FieldControl.errors?.['required']}" />
                <error-msg [control]="ps['identifier']"></error-msg>
            </div>
        </div>
    </div>
</div>
