<div *ngIf="(mode == 'edit' && ControlAccess?.['active'] === undefined) || ControlAccess?.['active']" class="mb-3 row" [formGroup]="FormGroup">
    <label class="col-form-label text-wrap w-10 col-3" [ngClass]="{'required-label': ControlAccess['validators']?.['required'] || FieldControl.errors?.['required']}">{{ ControlAccess["label"] }}</label>

    <div class="col-8">
        <div ngbDropdown #droptrigger="ngbDropdown" [id]="ControlAccess['id']" class="col-8">
            <div [ngClass]="{'form-select': true, 'required-field': FieldControl.touched && FieldControl.errors?.['required']}" type="button" data-toggle="dropdown" (click)="droptrigger.open()">
                {{ FieldControl.value || "Select" }}
            </div>
            <div ngbDropdownMenu class="w-100">
                <div type="button" ngbDropdownItem [ngClass]="{active: !FieldControl.value}" (click)="FieldControl.setValue('')">Select</div>
                <div type="button" ngbDropdownItem [ngClass]="{'cursor-pointer': true, active: FieldControl.value == item}" *ngFor="let item of ControlAccess['options']" (click)="FieldControl.setValue(item)">
                    {{ item }}
                </div>
            </div>
        </div>

        <error-msg [control]="ControlAccess['id']"></error-msg>
    </div>
    <span *ngIf="ControlAccess['help']" class="col-1 d-flex align-items-center"
        ><i-bs class="cursor-pointer text-success" name="exclamation-circle" width="15" height="15" placement="right" [ngbPopover]="ControlAccess['help']" container="body" triggers="mouseenter:mouseleave"> </i-bs
    ></span>
</div>

<span *ngIf="mode == 'list'">{{ FieldControl.value }}</span>

<!-- <option *ngFor="let item of ControlAccess['options']">
  <div>
      <input type="checkbox" [id]="item.id" [value]="item" (change)="toggleSelection(item)" />
  </div>
  {{ item }}
</option> -->
